<section class="page-section" id="directions">
    <div class="container text-center">
        <h1>Directions</h1>
        <hr class="solid">
    <div class="row">
      <div class="col-sm" style="padding-bottom: 20px;">
        <h3>Ceremony</h3><br>
        <iframe width="600" height="450" style="border:0;max-width:95%" loading="lazy" allowfullscreen
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJz_6EF3C-cEgRBVX9yVvmzWw&key=AIzaSyDX3O8bUJzTRn2Eh_fj09PB0LpkiqpetME"></iframe>
      </div>
      <div class="col-sm">
        <h3>Reception</h3><br>
        <iframe width="600" height="450" style="border:0;max-width:95%" loading="lazy" allowfullscreen
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ82eMFee5cEgRrHt8JLtSiHs&key=AIzaSyDX3O8bUJzTRn2Eh_fj09PB0LpkiqpetME"></iframe> 
      </div>
    </div>
  </div>
</section>