<section class="page-section bg-light" id="room">
    <div class="container text-center">
    <div class="row text-center">
        
            <h1>Accomodation</h1>
            <hr class="solid">
            <h2>Crowne Plaza</h2>
            <h7><a href="https://www.ihg.com/crowneplaza/hotels/gb/en/solihull/bhxsl/hoteldetail"> Website </a></h7>
            <p>If you would like to stay at the reception venue, the hotel is offering guests rooms for £135.
                This includes breakfast as well as access to leisure facilities.
                <br><br>
                Please call 0121-623-9988 and press the option 4 for group bookings and ask to speak with Lisa or Charlotte in in-house reservations.
            </p>

            <h4>Alternatives within walking distance</h4>
            <p>
                <a href="https://www.premierinn.com/gb/en/hotels/england/west-midlands/solihull/solihull-town-centre.html"> Premier Inn </a>
                <br>
                <a href="https://www.wyndhamhotels.com/en-uk/ramada/solihull-united-kingdom/ramada-birmingham-solihull/overview"> Ramada </a>
                <br>
                <a href="https://www.travelodge.co.uk/hotels/649/Solihull-hotel"> Travelodge </a>
            </p>
        </div>
    </div>
</section> 
