<section class="page-section" id="date">
    <div class="row text-center">
        <div class="container text-center">
            <h1>Saturday July 20th, 2024</h1>
            
        </div>
    </div>
</section> 
<section class="page-section bg-light" id="schedule">
    <div class="container text-center">
        <h1>Schedule</h1>
        <hr class="solid">
        <div class="row">
          <div class="col-sm text-center schedule">
            <h2>Reception</h2>
            <h4>19:00</h4>
            Crowne Plaza Hotel<br>Homer Road<br>Solihull<br>B91 3QD
          </div>
        </div>
      </div>
</section>    