<section class="page-section" id="date">
    <div class="container text-center">
    <div class="row text-center">
        
            <h1>Saturday July 20th, 2024</h1>
            
        </div>
    </div>
</section> 
<section class="page-section bg-light" id="schedule">
    <div class="container text-center">
        <h1>Schedule</h1>
        <hr class="solid">
        <div class="row">
          <div class="col-sm text-right schedule">
            <h2>Ceremony</h2>
            <h4>15:00</h4>
            Solihull Registery Office<br>Homer Rd<br>Solihull<br>B91 3QZ        
        </div>
          <div class="col-sm text-left schedule">
            <h2>Reception</h2>
            <h4>18:00</h4>
            Rowheath Pavillion<br>Heath Rd<br>Birmingham<br>B30 1HH
          </div>
        </div>
      </div>
</section>    